* {
  margin: 0;
  box-sizing: border-box;
}

header,
main {
  padding: 10px;
}

header {
  background-color: aqua;
}

main {
  background-color: lightgreen;
  min-height: 100vh;
  /* display: flex; */
}

div.grid {
  border: 2px solid coral;
  height: 350px;
  background-color: black;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr;
  grid-template-rows: 75px 50px 75px 1fr;
  /* grid-template-areas:
    "satu  satu  dua  tiga"
    "satu  satu  dua  enam"
    "empat .     lima enam"
    "empat tujuh .    delapan"; */
  gap: 5px;
  .item {
    border: 2px solid lightcyan;
    background-color: bisque;
    padding: 5px;
    &:nth-child(1) {
      /* grid-area: satu; */
      grid-column: 1/3;
      grid-row: 1/3;
    }
    &:nth-child(2) {
      /* grid-area: dua; */
      grid-column: 3/4;
      grid-row: 1/3;
    }
    &:nth-child(3) {
      /* grid-area: tiga; */
      grid-column: 4/5;
      grid-row: 1/2;
    }
    &:nth-child(4) {
      /* grid-area: empat; */
      grid-column: 1/2;
      grid-row: 3/5;
    }
    &:nth-child(5) {
      /* grid-area: lima; */
      grid-column: 3/4;
      grid-row: 3/4;
    }
    &:nth-child(6) {
      /* grid-area: enam; */
      grid-column: 4/5;
      grid-row: 2/4;
    }
    &:nth-child(7) {
      /* grid-area: tujuh; */
      grid-column: 2/3;
      grid-row: 4/5;
    }
    &:nth-child(8) {
      /* grid-area: delapan; */
      grid-column: 4/5;
      grid-row: 4/5;
    }
  }
}
