nav {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.dua {
  background-image: radial-gradient(circle, lightcoral, orange, lightyellow, lightgreen, cyan, indigo, purple);
}
