* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-color: aquamarine;
  padding: 10px;
}

footer {
  padding: 10px;
  background-color: goldenrod;
  /* position: absolute; */
  /* z-index: 1; */
  /* top: 0; */
}

.container {
  height: 200vh;
  width: 100%;
  background-color: lightgrey;
  padding: 10px;
  position: relative;
  /* opacity: 40%; */
}

.box {
  width: 100px;
  height: 50px;
  border: 2px solid black;
  margin-bottom: 5px;
  padding: 5px;
  background-color: white;
}

.relative {
  position: relative;
  /* dorong ke kanan 3 px, tarik ke atas 3px */
  /* left: 3px;
  bottom: 3px; */
  right: -3px;
  top: -3px;
}

.bottom {
  top: -50px;
  right: -10px;
  z-index: 0;
}

.top {
  z-index: 1;
}

.absolute {
  background-color: antiquewhite;
  position: absolute;
  z-index: 2;
}

.big {
  width: 200px;
  height: 100px;
  top: 75px;
  left: 10px;
}

.small {
  right: 10px;
  bottom: 10px;
}

.fixed {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) rotate(45deg);
}

.sticky {
  position: sticky;
  top: 0;
  bottom: 0;
}
