/* MOBILE FIRST */
/* * {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header,
main {
  padding: 10px;
}

.container {
  padding: 2px;
}

.text,
header {
  color: goldenrod;
  font-size: 25px;
}

@media screen and (min-width: 640px) {
  .text {
    color: darkgrey;
    font-size: 18px;
    font-style: italic;
  }
  .container {
    padding: 5px;
  }
}

@media screen and (min-width: 768px) {
  .text {
    color: black;
    font-size: 16px;
  }
  .container {
    padding: 10px;
  }
} */

/* PC FIRST */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header,
main {
  padding: 10px;
}

header {
  color: goldenrod;
}

.text {
  color: black;
  font-size: 16px;
}

.container {
  padding: 10px;
  /* width: min(100%, 200px); */
}

.container:has(.text) {
  background-color: cornflowerblue;
}
.container:has(ul) {
  background-color: chartreuse;
}
.container:has(+ .container) {
  border: 2px solid black;
  border-radius: 5px 5px 0 0;
}
.container + .container {
  border: 2px solid black;
  border-radius: 0 0 5px 5px;
}

@media screen and (max-width: 768px) {
  .text {
    color: darkgrey;
    font-size: 18px;
  }
  .container {
    padding: 5px;
  }
}

@media screen and (max-width: 640px) {
  .text {
    color: goldenrod;
    font-size: 25px;
  }
  .container {
    padding: 2px;
  }
}
